<% if (signinMessage) {%>
    <div><%= signinMessage %></div>
<% } %>

<form action="http://localhost:4030/login/" method="GET">
    <input type="email" name="email" placeholder="Insert email">
    <input type="password" name="password" placeholder="Insert Password">

    <button type="submit">
        signin
    </button>

</form> 